
.h1ropa{
    text-align: center;
    text-size-adjust: 12;
    color: rgb(53, 53, 52);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
}

.diapo{
    text-decoration: solid;
    text-transform: uppercase;
    
}