.bannersale{
    position: center ;
    box-shadow: -1px -1px 6px 0 rgb(10, 10, 10), 4px 4px 16px 2px rgb(7, 7, 7);
    width: 100%;
    margin-top: 60px;
    image-rendering: auto;
}

.parrafosale{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px; 
    text-align: center ;
    font-weight: bold;
    margin-top: 40px;

}

.imagenessale{
    display: flex;
    max-width: 100vw;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient((rgb(0, 0, 0)),(grey));

}

.imagenessale img{
    width: 450px;
    height: 220px;
    object-fit: cover;
    object-position: center;
    padding: 6px;
}

.mid{
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.imagenessale img:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.6s ease-out;
    opacity: 0.7;

}

.imagenreciclar{
                display: flex;
                width: 100%;
                justify-content: center;
                margin-top: 40px;
}
.h2reciclar{
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            font-style: italic;
            text-decoration: solid;
            text-decoration: inherit;
            margin-top: 90px;

}

.reciclar{
    display: flex;
    justify-content: center;
    margin-top: 90px;

}

.imagenreciclar2{
                display: flex;
                
                margin-left: 90px;
}

.textreciclar{
        display: flex;
        width: 120px;
        height: 120px;
        font-size: 18px;
        font-weight: bold;
        text-decoration: solid;
        
        
        

}
.divreciclar{
    display: flex;
    justify-content: center;
}

.textreciclar3{
    font-size: 18px;   
    font-weight: bold;
    text-decoration: solid;
    text-align:center;
    width: 700px;
    margin-top: 40px;
    line-height: 30px
   
}
.divreciclar2{ display: flex;
    justify-content: center;

}

.textreciclar4{
    font-size: 18px;   
    font-weight: bold;
    text-decoration: solid;
    text-align:center;
    width: 700px;
    margin-top: 40px;
    line-height: 30px;
}

.divreciclar{
    display: flex;
    justify-content: center;
}

.listareciclar{
    font-size: 18px;   
    font-weight: bold;
    text-decoration: solid;
    text-align:center;
    width: 700px;
    margin-top: 40px;
    line-height: 30px;
    

}